# # # # Vault data # # # #
menu.md

# # # # Templates # # # #
templates/*
!templates/.gitkeep

# # # # Notes # # # #
notes/*
!notes/.gitkeep

# # # # Media # # # #
media/*
!media/.gitkeep

# # # # TTS # # # #
modules/language-learning/tts/*
!modules/language-learning/tts/.gitkeep

# # # # Canvases # # # #
canvases/*
!canvases/.gitkeep

# # # # Languages # # # #
modules/language-learning/Deutsch/*
modules/language-learning/English/*
modules/language-learning/Ukrainian/*

# # # # OS # # # #
.DS_Store